:root{
    --primary-color: #2c3e50;
    --secondary-color: #ffffff;
    --background-color: #f4f4f4;
    --text-color: #333333;
}

header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center; 
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5
}

section{
    margin: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

h1{
    color: var(--secondary-color);
    font-size: 32px;
    line-height: 1.2
}

h2{
    color: var(--primary-color);
    font-size: 24px;
    line-height: 1.2
}

p{
    margin-bottom: 10px;
}

li{
    margin-bottom: 8px;
}

ul{
        margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.cv{
    max-width: 900px;
    margin: 40px auto;
}